<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/default.css">
    <title>Asuka Web Interface</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-23272A nav-pills sticky-top">
    <a class="navbar-brand" href="">Asuka</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="btn btn-primary" href="CHANGE_ME">Add To Server</a>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a href="CHANGE_ME" class="btn btn-primary form-control mr-sm-2" role="button">Login With Discord</a>
        </form>
    </div>
</nav>
<div class="page-wrapper">
    <div class="page-home text-light">
        <div class="hero">
            <div class="hero-content container">
                <div class="row">
                    <div class="col-sm">
                        <h1 class="title">
                            About
                            <strong>Asuka</strong>
                        </h1>
                        <p>Asuka is a Discord bot to add Slack like entry control. This bot will allow you to set a
                            domain to which users entering your server will have to prove they possess an email
                            matching. After which, they will be allowed to browse the server like any other user.</p>
                    </div>
                    <div class="col-6">
                        <span class="border-bottom"></span>
                        <div class="getting-started">
                            <br/>
                            <br/>
                            <br/>
                            <a class="btn btn-primary" href="CHANGE_ME">Login With Discord</a>
                            <a class="btn btn-primary" href="CHANGE_ME">Join us on Discord</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero bg-dark">
            <center>
                <h2 class="bg-dark">Features</h2>
            </center>
            <div class="hero-content container">
                <div class="row">
                    <div class="col-sm">
                        <center>
                            <img src="/moderation.png" alt="">
                            <h1 class="">
                                Moderation
                            </h1></center>
                        <p>The bot will have to get a verification through email to show that it is actually a user that
                            joins and not a fake user. This prevents from a lot of spamming by fake users.</p>
                    </div>
                    <div class="col-6">
                        <div class="getting-started">
                            <center>
                                <img src="/dashboard.png" alt="">
                                <h1 class="">Web Dashboard</h1></center>
                            <p>A configurable web dashboard. You can easily add the bot through here. You can do the
                                rest on your discord server.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="getting-started">
                <center>
                    <h3>Getting Started</h3>
                    <p>To get started with Asuka, login with discord and select the server that you would like to
                        setup.</p>
                    <a class="btn btn-primary" href="CHANGE_ME">Login With Discord</a>
                    <p></p>
                </center>
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
